__pycache__/
*.py[cod]
.venv/
__pypackages__/
.pytest_cache/
.coverage
logs/
.env
tracking/*.md
.pdm-python
.ruff_cache
.audit
.pytest_cache
.dlt/
*.egg-info/

# Config files with secrets
config/projects.yaml
.env.production
